<div class="left gradient-background">
				<div class="row">
					<div class="col-md-4">
						<h2>Eye Health</h2>
						<div class="auto-block">
							<img class="section-image" src="/assets/about_us_images/choosing_glasses.jpg" alt="Trying on eyewear image"/>
							<p>
								The in-depth scanning technology available at Súillin Opticians from Eye Med Technologies takes traditional eyetest to whole new level and enables retinal and corneal diagnostic examinations where potential hazards can be detected much earlier than was previously possible. The OCT scan will safeguard your eye health against potentially serious ocular disease such as glaucoma, diabetes and age related macular degeneration.
							</p>
							<p>
								The OCT scan will safeguard your eye health against potentially serious ocular disease such as glaucoma, diabetes and age related macular degeneration.
							</p>

						</div>
					</div>

					<div class="col-md-4">
						<h2>The Team</h2>
						<div class="auto-block">
							<img class="section-image" src="/assets/about_us_images/optometrist_smiling.jpg" alt="Our Doctors Image"/>
							<p>
								At Súillin Opticians we want to ensure that you receive the best treatment and that your eye health is maintained.  Our team of opticians and technical staff is highly experienced and deal with all our customers in a professional manner.
							<p>
								Whether you’re looking for guidance on frame choices, style advice on your new look shades or information on contact lenses, advice on your vision requirements and general eye health, we are all here to help and point you in the right direction.
							</p>
						</div>
					</div>

					<div class="col-md-4">
						<h2>Testimonials</h2>
						<div class="auto-block">
							<img class="section-image" src="/assets/about_us_images/happy_customer.jpg" alt="Happy customer image"/>
							<p>
								At Súillin Opticians we always like to hear from our customers.  Hearing first-hand what you think about us - what we're doing right and areas where you think we could improve - means that we can always find new ways to give you the best possible service.  Read below to see what some of our customers have said about us:
							</p>
							<p>
								<i>"I was impressed by the thorough and professional nature of the eye test."</i><br><b>Celine O'Reilly, Newbridge</b>
							</p>
							<p>
								<i>"A very impressive and unique range of eyewear.  I will definitely be going back."</i><br><b>Tom Maguire, Dun Laoighaire</b>
							</p>
							<p>
								<i>"The pleasant manner of the staff and the information given to me with my eye test and selecting which frames to have."</i><br><b>Andrew Haddington-Walsh, Dublin 4</b>
							</p>
						</div>
					</div>
				</div>
					
				</div>