
  <div class="footer">
    <div class="container">
      <p class="text-muted">© Copyright 2015 TeamOne</p>
		</div>
      
    <div >
      <!-- <ul>
				<li href='https://www.facebook.com/suillinopticians'><img class="social" src="/assets/social_icons/Facebook.png" alt="facebook"></li>
				<li href="http://instagram.com/suillino/"><img class="social" src="/assets/social_icons/Instagram.png" alt="instagram"></li>
				<li href="http://ie.linkedin.com/pub/súillin-opticians/aa/b03/723/"><img class="social" src="/assets/social_icons/LinkedIn.png" alt="linkedin"></li>
				<li href="http://www.pinterest.com/suillino/"><img class="social" src="/assets/social_icons/Pinterest.png" alt="pinterest"> </li>
				<li href="https://twitter.com/SuillinO"> <img class="social" src="/assets/social_icons/Twitter.png" alt="twitter"></li>
		  </ul> -->
		</div>
	
  </div>
   